 :root{
    --fundo: #742a5d;
    --fonte: "Poppins", sans-serif;
    --corfonte: #fff
}

/* Estilização geral */
body {
    font-family: var(--fonte);
    margin: 0 1rem 2rem 0;
    padding: 0;
    background-color: var(--fundo) /* Cor de fundo da página */
}

.perguntas {
    background: fixed;
    background-color: #675077;
    margin: 1% 20%;
}

h3 {
    font-family: var(--fonte);
    font-weight: 300;
    font-style: normal;
    color: var(--corfonte);
}

h4 {
    font-family: var(--fonte);
    font-weight: 300;
    font-style: normal;
    color: var(--corfonte);
}



h1 {
    text-align: center;
    font-family: var(--fonte);
    font-weight: 700;
    color: var(--corfonte);

}

label {
    color: var(--corfonte);

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilização dos títulos de sessão */
.titulosessao {
    color: var(--corfonte);
    margin-top: 20px;
}

/* Estilização dos inputs de texto */
input[type="text"] {
    font-family: var(--fonte);
    font-weight: 300;
    width: 96%;
    padding: 10px;
    margin: 5px 2px;
    border: 1px solid #ccc; /* Cor da borda */
    border-radius: 5px;
}

/* Estilização dos checkboxes */


/* Estilização do botão de submit */

.campobotao {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content:center;
}

button {
    background-color: #4924ad; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    font-size: 20px;
    padding: 20px 50px;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover,
  button:focus {
    outline: none;
    background: #5c1cd3;
  }
  
  button:disabled {
    cursor: not-allowed;
    background: #555b69;
  }
  
  .success,
  .error {
    text-align: center;
  }
  
  .success {
    text-align: center;
    color: greenyellow;
  }
  
  .error {
    text-align: center;
    color: tomato;
  }
  
  /* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
    .body { 
        margin: 0;

    }


    .perguntas {
        background: none;
        margin: 0 2%;

    }
  
    .campobotao {
      flex-direction: column;
    }
  
    button {
      margin-top: 10px;
    }
  }